<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
  <script type='text/javascript' src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
</head>
<body>
  <form action="/routes/new" method="post">
    <label for="">Route Name:</label>
    <input type="text" name="createName">
    <label for="">Type:</label>
    <input type="text" name="createType">
    <label for="">Difficulty:</label>
    <input type="text" name="createDifficulty">
    <label for="">Info:</label>
    <input type="text" name="createSummary">
    <label for="">Submitted By:</label>
    <input type="text" name="createContributor">
    <input type="Submit" value="Create New Route">
  </form>
</body>
</html>
