html, body {
  background-color: #F5F5F5;
  color: black;
  height: 100%;
  overflow-x: hidden;
  font-family: 'PT Sans Narrow', sans-serif;

}

.container {
  display: flex;
  widows: 100%;
}


.login-nav{
  height: 80px;
  position: fixed;
  top: 0px;
  width: 100vw;
  background-color: #F5F5F5;
  z-index: 4
}

ul {
  list-style-type: none;
  margin: 15px auto;
  padding: 0;
  text-align: right;
  float: right;
}

li {
  float: left;
  padding: 6px;
}

h3{
  margin: 0px;
}

#map {
  margin-top: 60px;
  height: auto;
  flex: 1;
}

#createNew {
  display: none;
  position: absolute;
  margin-top: 60px;
  background-color:#FFC107;
  width: 20%;
  max-width: 20%;
  height: 90vh
}

#viewInfo {
  margin-top: 60px;
  background-color: #F5F5F5;
  width: 20%;
  max-width: 20%;
  height: 90vh
}

#logo{
  position: fixed;
  margin-top: 6px;
  margin-left: 20px;
  height: 70px;
  width:auto;
}

#inputSummary{
  height: 200px
}

.info-cont{
  background-color:#E4F5EA;
  border-radius: 12px;
  width: 90%;
  margin: 0 auto 10px auto;
  padding: 0.3px 10px;
}

.new-cont{
  background-color:#fff2cc;
  border-radius: 12px;
  width: 90%;
  margin: 0 auto 10px auto;
  padding: 15px;
}

.infoBox{
  margin: 0 auto;
  width: 90%
}

#createNew{
  text-align: center;
  padding: 10px;
}

.new-route-cont{
  border-radius: 12px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

#welcome{
  float: right;
}

#addNewBtn{
  background-color: #FFC107;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#addRouteBtn{
  background-color: #E4F5EA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}



.userBtn{
  margin-top: -5px;
  margin-right: 20px;
  background-color: #E4F5EA;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#signupBtn{
  margin-top: -5px;
  margin-right: 20px;
  background-color: #FFC107;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#welcome{
  margin-right: 30px;
}

.signUpContainer{
  background-color: #FFC107;
  height: 50%;
  width: 30%;
  margin: 10% auto;
  border-radius: 12px;
  text-align: center;
  font-size: 24px;
  padding: 10px
}

.signUpParam{
  margin-top: 15px
}

#submitUser{
  margin-top: 20px
}

/*
#make-account {
  position: relative
}
*/
