<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="style.css">
  <script type='text/javascript' src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBL0Qihhkmwv2XX3IAFw8ZHeJMjGEn1CME"></script>
  <script type="text/javascript" src="main.js"></script>
</head>
<body>
  <h1>
  <% if(user){ %>
    Welcome, <%= user.fname %> <%= user.lname %>
  <% } else { %>
    Welcome, Guest
  <% } %>
  </h1>
  <div>
    <form method="post" action="user/logout?_method=DELETE">
      <input type="submit" value="Logout">
    </form>
  </div>
<div id="map">
</div>
</body>
</html>


